---
const { details } = Astro.props;
---

<div class="btn items-center gap-x-small px-small bg-black">
  <dt class="w-[min(1.125em,28px)] aspect-square">
    <slot />
  </dt>
  <dd class="md:text-[.875em]">
    {details}
  </dd>
</div>
