---
import { Image } from "astro:assets";

import Button from "@components/UI/Button.astro";
import SocialLinks from "@components/UI/SocialLinks.astro";

import logo from "@assets/images/logo.webp";

const { contacts } = Astro.props;
---

<footer id="footer" class="wrapper" transition:persist>
  <Image id="footer-logo" src={logo} alt="xclusive cars logo" fit="contain" />

  <SocialLinks contacts={contacts} desktopLimit="5" />

  <nav id="footer-nav" aria-label="Footer Nav">
    <ul id="footer-ul">
      <li>
        <Button href="/#steps" umamiEvent="footer-steps">Процес</Button>
      </li>
      <li>
        <Button href="/auction-cars" umamiEvent="footer-catalog">Каталог</Button>
      </li>
      <li>
        <Button href="/available-cars" umamiEvent="footer-available">Налични автомобили</Button>
      </li>
    </ul>
  </nav>

  <div id="footer-subinfo">
    <p>Всички права запазени</p>
    <a href="#">Политика за поверителност</a>
  </div>
</footer>
